* {
  margin: 0;
  padding: 0;
  transition: .2s;
  word-wrap: break-word;
  white-space: break-spaces;
}

:root {
  --border-roundness: 10px;
  --border-size: 2px;
  --glass: rgba(0, 53, 100, 0.1);
  --shadow: 0 0 5px lightgray;
}

a {
  color: unset;
  text-decoration: unset;

  &:active {
    color: unset;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

li {
  list-style: none;
}

.button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: var(--border-size) solid;
  border-radius: var(--border-roundness);

  &:hover {
    box-shadow: var(--shadow);
  }
}

.button-plain {
  color: gray;
  background-color: white;
  border-color: gray;
}

.button-vitality {
  color: rgb(175, 105, 0);
  background-color: rgb(255, 234, 100);
  border-color: rgb(255, 200, 0);
}

.button-disabled {
  cursor: default;
  padding: 10px;
  color: gray;
  background-color: rgb(240, 240, 240);
  border: 2px solid lightgray;
  border-radius: 10px;

  &:hover {
    box-shadow: unset;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 70vh;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hint-text {
  color: gray;
}

.line {
  margin: auto;
  width: 90%;
  border: 1px solid lightgray;
}

.message-box {
  padding: 20px;
  background-color: rgba(224, 255, 255, .9);
  border: var(--border-size) solid lightblue;
  border-radius: var(--border-roundness);
}

.middle {
  margin: auto;
}